<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  aria-label="Ninth navbar example"
>

  <div class="container-xl">
    <a class="navbar-brand" href="#">Store</a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample07XL"
      aria-controls="navbarsExample07XL"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample07XL">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="home" class="nav-link text-white"> Home </a>
        </li>
        <li class="nav-item">
          <a routerLink="product" class="nav-link text-white"> Products </a>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Edit</a
          >
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="product-add">Add</a></li>
            <li>
              <a class="dropdown-item" routerLink="product-delete">Delete</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="product-update">Update</a>
            </li>

            <li><a class="dropdown-item" href="#"></a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" >
          <a routerLink="login" class="nav-link text-white"> {{login}} </a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="register" class="nav-link text-white"> Register </a>
        </li> -->
        <li class="nav-item" *ngIf="!isLogin">
          <a (click)="onLogout()" class="nav-link text-white"> Logout </a>
        </li>
      </ul>
      <button routerLink="cart" class="bg-dark text-light">
        <i style="font-size: 25px" class="bi bi-cart3"></i>
        <div style="font-size: 10px" class="badge bg-danger">
          {{ totalItem }}
        </div>
      </button>
    </div>
  </div>
</nav>
